*.obj
*.exe
*.pdb
*.aps
*.vcproj.*.user
*.vcxproj.user
*.csproj.user
*.vspscc
*_i.c
*.i
*.icf
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.pyc
*.o
CMakeLists.txt.user

.directory

/build/
/bin/
/lib/
/pdcurses/pdcurses/x11/configure.status
/pdcurses/pdcurses/x11/config.status
/pdcurses/pdcurses/x11/config.h
/pdcurses/pdcurses/x11/pdcurses.cmake
/pdcurses/pdcurses/x11/mono
cmake-build/


tags
cscope*
