*.pyc
*.o
.directory

build/comms/build/*
build/core/build/*
build/simulator/build/*
build/comms/lib/*
build/core/lib/*
build/simulator/bin/*
build/simulator/cmake/CMakeLists.txt.user
build/core/cmake/CMakeLists.txt.user
build/comms/cmake/CMakeLists.txt.user

bin/linux_x64/*.so
bin/linux_x64/simulator
bin/linux_x64/simulator_d
bin/linux_x86/*.so
bin/linux_x86/simulator
bin/linux_x86/simulator_d


thirdparty/boost/b2
thirdparty/boost/bin.v2/config.log
thirdparty/boost/bin.v2/project-cache.jam
thirdparty/boost/bjam
thirdparty/boost/bootstrap.log
thirdparty/boost/bin.v2/*
thirdparty/boost/lib/*
thirdparty/boost/project-config.jam
thirdparty/boost/tools/build/v2/engine/bin.linuxx86_64/b2
thirdparty/boost/tools/build/v2/engine/bin.linuxx86_64/bjam
thirdparty/boost/tools/build/v2/engine/bootstrap/jam0

